.button{
    margin-top:300px;
}

.homepg{
    width: 100vw;
    height:100vh;
    margin-top:-40px;
    position: fixed;
    background-image: url('./Pictures/3.jpeg');
    background-repeat: none;
    background-size: cover;
}
