.App-title{
    font-family: 'Titan One', cursive;
}

.Enter{
    margin-top:20%;
    left:65%;
}
.landingpg{
    width: 100%;
    height:100vh;    
    margin-top:-40px;
    position: fixed;
    padding: 0px;
    overflow-x: hidden;
    background-image: url('./Pictures/4.jpeg');
    background-repeat: none;
    background-size: cover;
}